# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Python
- R
- Julia

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. C
6. C++
7. SQL
8. Scala
9. Swift
10. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NymPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Frida